<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Welcome to LearnU</h1>
      <div class="box">
        <h2 class="subtitle">Login</h2>
        <%= form_with(url: login_path, local: true) do %>
          <div class="field">
            <div class="control">
              <%= email_field_tag :email, nil, placeholder: "Email", class: "input" %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= password_field_tag :password, nil, placeholder: "Password", class: "input" %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= submit_tag "LOGIN", class: "button is-link is-fullwidth" %>
            </div>
          </div>
        <% end %>
        <p>or login with</p>
        <button class="button is-fullwidth">G Google</button>
        <a href="<%= signup_path %>">SIGN UP</a>
      </div>
    </div>
  </div>
</section>
