<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Welcome to LearnU</h1>
      <div class="box">
        <h2 class="subtitle">Sign Up</h2>
        <%= form_with(model: @user, local: true) do |form| %>
          <div class="columns ">
            <div class="column">
              <div class="field">
                <div class="control">
                  <%= form.text_field :nombre_completo, placeholder: "Full Name", class: "input" %>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <%= form.email_field :email, placeholder: "Email", class: "input" %>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <%= form.text_field :user_name, placeholder: "User Name", class: "input" %>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <div class="control">
                  <%= form.password_field :password, placeholder: "Password", class: "input" %>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <%= form.password_field :password_confirmation, placeholder: "Confirm Password", class: "input" %>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <%= form.collection_select :career_id, Career.all, :id, :nombre, { prompt: "Select a career" }, class: "input" %>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= form.submit "SIGN UP", class: "button is-link is-fullwidth" %>
            </div>
          </div>
        <% end %>
        <p>or sign up with</p>
        <button class="button is-fullwidth">G Google</button>
      </div>
    </div>
  </div>
</section>
