<p>
  <strong>Full Name:</strong>
  <%= @user.nombre_completo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role.nombre %>
</p>

<p>
  <strong>Career:</strong>
  <%= @user.career.nombre %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
