<p>
  <strong>Name:</strong>
  <%= @course.nombre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.descripcion %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @course.professor.user.nombre_completo %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
