<!-- app/views/layouts/_sidebar.html.erb -->
<aside class="menu sidebar">
  <div class="logo">
      <%= stylesheet_link_tag 'sidebar', media: 'all' %>

    <%= link_to image_tag('logo.png'), root_path %>
  </div>
  <ul class="menu-list">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Search', '#' %></li>
    <li><%= link_to 'Courses', '#' %></li>
    <li><%= link_to 'Saved', '#' %></li>
    <li><%= link_to 'Profile', '#' %></li>
  </ul>
</aside>
